#graph-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: #EEE;
	box-shadow: inset 0 -5px 100px #FFF;

	> div:first-child {
		flex: 1;
	}

}

.block-graph {
	position: relative;
	overflow: auto;
}

.inner-block {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}